<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
    <script src="Scripts/angular.js"></script>
    <script src="Scripts/Script.js"></script>
</head>
<body ng-app="myModule">
    <div ng-controller="myController">
        Rows to Limit: <input type="number" step="1" min="0" max="5" ng-model="rowLimit" />
        <br /><br />
        <table style="font-family:Arial" border="1">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Date of Birth</th>
                    <th>Gender</th>
                    <th>Salary(number)</th>
                    <th>Salary(currency)</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="employee in employees | limitTo:rowLimit">
                    <td>{{ employee.name | uppercase }}</td>
                    <td>{{ employee.dateOfBirth | date:"dd/MM/yyyy"}}</td>
                    <td>{{ employee.gender | lowercase }}</td>
                    <td>{{ employee.salary | number:2 }}</td>
                    <td>{{ employee.salary | currency:"£":1 }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>